Source: ros-jazzy-mbf-abstract-nav
Section: misc
Priority: optional
Maintainer: Alexander Mock <alexander.mock@naturerobots.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake-gmock <!nocheck>, ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-geometry-msgs, ros-jazzy-mbf-abstract-core, ros-jazzy-mbf-msgs, ros-jazzy-mbf-utility, ros-jazzy-nav-msgs, ros-jazzy-rclcpp, ros-jazzy-rclcpp-action, ros-jazzy-std-msgs, ros-jazzy-std-srvs, ros-jazzy-ros-workspace
Homepage: http://github.com/naturerobots/move_base_flex
Standards-Version: 3.9.2

Package: ros-jazzy-mbf-abstract-nav
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-geometry-msgs, ros-jazzy-mbf-abstract-core, ros-jazzy-mbf-msgs, ros-jazzy-mbf-utility, ros-jazzy-nav-msgs, ros-jazzy-rclcpp, ros-jazzy-rclcpp-action, ros-jazzy-std-msgs, ros-jazzy-std-srvs, ros-jazzy-ros-workspace
Description: The mbf_abstract_nav package contains the abstract navigation server implementation of Move Base Flex (MBF).
 The abstract navigation server is not bound to any map representation. It provides the actions for planning, controlling and recovering. MBF loads all defined plugins at the program start. Therefor, it loads all plugins which are defined in the lists *planners*, *controllers* and *recovery_behaviors*. Each list holds a pair of a *name* and a *type*. The *type* defines which kind of plugin to load. The *name* defines under which name the plugin should be callable by the actions.
